<u >
    <li *ngFor="let item of listaO">{{item.nom_objetivo}}</li>
</u>
<button (click)="listar()">listar</button>
<input type="text" [(ngModel)]="obj.nom_objetivo" disabled>
<input type="text" [(ngModel)]="obj.id_objetivo" disabled>
<input type="text" [(ngModel)]="id">
<button (click)="Buscar()">Buscar</button>

<br>

<u >
    <li *ngFor="let item of listaPosts">Userid: {{item.userId}} - id: {{item.id}}</li>
</u>